#   ┌─┐┬┌┬┐┬┌─┐┌┐┌┌─┐┬─┐┌─┐
#   │ ┬│ │ ││ ┬││││ │├┬┘├┤
#  o└─┘┴ ┴ ┴└─┘┘└┘└─┘┴└─└─┘

# trash
.DS_store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes

# dependencies
vendor

# Built files
envr

# Local files
.env
.variables
ignore/*

# Misc.
!.gitkeep
.idea
.vscode
.projectile
*/tags


